@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    direction: rtl;
}

p {
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}

body {
    font-family: 'Heebo', sans-serif;
}